@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.push-notification{
  background: #262626;
  height: 75px;
  width: 100%;
  position: absolute;
  z-index: 2;
  color: white;
  opacity: 0.8;
  padding: 10px;
}

.push-notification .icon, .push-notification .notification{
  display: inline-block;
  float: left;
}

.push-notification p{
  font-size: 12px;
  margin: 0;
  padding: 0 5px;
}

.push-notification p span{
  opacity: 0.5;
}

.push-notification img{
  max-height: 40px;
  max-width: 40px;
}

.push-notification .tilulilu{
  background: white;
  height: 5px;
  width: 50px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left:-25px ;
  border-radius: 10px;
  opacity: 1;
}

.no-margin {
  margin: 0 !important;
}

.margin-bottom {
  margin-bottom: 10px !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.paddin-bottom{
  padding-bottom: 10px;
}

.border-bottom {
  border-bottom: solid 1px #e8e8e8;
}

.main {
  width: 100%;
  height: 100%;
  position: absolute;
}

.main-wrapper {
	padding-bottom: 60px;
}

.main-navigation {
  width: 100%;
  position: fixed;
  text-align: center;
  bottom: 0;
  padding: 0;
  margin: 0;
  background: #ea4848;
  height: 60px;
}

.main-navigation img {
  opacity: .5;
  max-width: 30px;
  position: relative;
  top: 50%;
  transform: translateY(50%);
  -moz-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -o-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  
}

.main-navigation .icon:focus img{
  opacity: 1;
}

.btn {
  border-radius: 0;
  border: 0;
  padding: 12px;
  font-size: 10px;
}

.btn-default {
  color: white;
  background: #ea4848;
}

.btn-default:hover, .btn-default:focus {
  color:white;
  background: #cb3e3e;
}

.btn-default img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.jumbotron {
  background: url("../img/resto-demo/resto-cover-shadowed.jpg") no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  webkit-box-shadow: inset 0px -15px 20px -5px rgba(14, 13, 13, 0.55);
  box-shadow: inset 0px -15px 20px -5px rgba(14, 13, 13, 0.55);
}

.jumbotron h3 {
  font-weight: 300;
}

.jumbotron-navigation img{
  width: 30px;
  height: 30px;
}

.jumbotron-navigation li {
  height: 50px;
}

.jumbotron-navigation .active{
  background: url('../img/icons/arrow.png') no-repeat bottom center;
}

.jumbotron .logo-wrapper {
  width: 220px;
  max-height: 220px;
  margin: 0 auto 20px auto;
  overflow: hidden;
}

.jumbotron .logo-wrapper img {
  width: 220px;
  height: auto;
  margin: 0 auto;
}

.jumbotron .slogan {
  font-size: 12px;
}

.ng-scope > .search{
  background: url('../img/taustad/search.jpg') no-repeat;
  background-size: cover;
  color: white;
}

.ng-scope > .search h1{
  font-weight: 300;
}

.ng-scope > .search .categories{
  font-size: 18px;
  margin: auto
  top: 50%
}

.container{
  margin-bottom: 100px;
}

.container .content-navigation {
  text-transform: uppercase;
}

.container .content-navigation a {
  color: #a9a9a9;
}

.container .content-navigation .active a {
  color: #353535;
}

.container .menu {

}

.container li {
  padding: 0 5px;
  font-size: 12px;
}

.container .menu a {
  color: #ea4848;
}

.container .menu .menu-item .title {
  font-size: 18px;
}

.container .menu img {
  width: 100px;
  max-height: 100px;
}

.container .menu .extra-info {
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}

.container .address li{
  margin-bottom: 10px;
}

.container .address li .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.ng-animate {
  -webkit-transition: .2s linear all;
  -moz-transition: .2s linear all;
  -ms-transition: .2s linear all;
  -o-transition: .2s linear all;
  transition: .2s linear all;
}

.ng-enter {
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.ng-enter.ng-enter-active {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.ng-leave {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.ng-leave.ng-leave-active {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

/* Home feed */

.home {
	background: #f6f6f6;
}

.home .header {
	height: 150px;
	background: url('../img/taustad/map_3.png') no-repeat;
	background-size: cover;
	margin-bottom: 10px;
}

.home .header-info {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
}

.home .header h3, .home .header p {
	color: #353535;
	margin: 0;
	font-weight: 300;
	text-align: center;
	padding: 5px 0 0 0;
}

.home .header h3 {
	font-size: 3rem;
	color: #ea4848;
}
.home .header p {
	margin-top:10px;
}

/* Feed */

.main .feed {
	margin: 5px 0 0 0;
}

.feed li {
	border-bottom: 1px solid #e8e8e8;
	position: relative;
	background: #FFF;
	height: 105px;
}

.feed .feed-item .itemLogo {
	max-width: 70px;
	margin: 10px 20px;
	display: inline-block;
}
.feed .feed-item h3 {
	padding: 0;
	margin: 10px 0 0 0;
	color: #ea4848;
	font-weight: 300;
}
.feed .feed-item .info {
	display: inline-block;
}

.feed .feed-item .info .friends {
	float: left;
	color: #bcbcbc;
}

.feed .feed-item p {
	font-size: 1.3rem;
	margin: 5px 0 0 0;
}

.feed .feed-item span {
	position: absolute;
	right: 0;
	font-size: 2rem;
	margin: 0 20px;
}

.feed .feed-item .rating {
	top: 7px;
}
.feed .feed-item .distance {
	top: 35px;
}

/* Friends */

.friends-header {
	margin-top: 5px;
	text-align: center;
}
.friends-header li {
	display: inline-block;
	margin: 0 5px;
}
.friends-header img {
	max-width: 40px;
}

/* Nearest */ 

.nearest-list li {
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}

.nearest-list img {
  max-width: 70px;
  margin: 10px 20px;
  display: inline-block;
}

.nearest-list h3 {
  padding: 0;
  margin: 10px 0 0 0;
  color: #ea4848;
  font-weight: 300;
}

.nearest-list .info {
  display: inline-block;
}

.nearest-list p {
  font-size: 1.3rem;
}

.nearest-list span {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  font-size: 2rem;
  margin: 0 20px;
}
