@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #f6f6f6;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding: 0 5px!important;
}

.push-notification{
  background: #262626;
  height: 75px;
  width: 100%;
  position: absolute;
  z-index: 2;
  color: white;
  opacity: 0.8;
  padding: 10px;
}

.push-notification .icon, .push-notification .notification{
  display: inline-block;
  float: left;
}

.push-notification p{
  font-size: 12px;
  margin: 0;
  padding: 0 5px;
}

.push-notification p span{
  opacity: 0.5;
}

.push-notification img{
  max-height: 40px;
  max-width: 40px;
}

.push-notification .tilulilu{
  background: white;
  height: 5px;
  width: 50px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  margin-left:-25px ;
  border-radius: 10px;
  opacity: 1;
}

.bck-white{
  background: white;
  padding-bottom: 60px;
}

.no-margin {
  margin: 0 !important;
}

.margin-bottom {
  margin-bottom: 20px !important;
}

.margin-bottom-divided-2 {
  margin-bottom: 10px !important;
}

.negative-margin{
  margin-left: -20px;
  margin-right: -20px;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.padding-bottom{
  padding-bottom: 10px;
}

.padding-top-bottom{
  padding: 10px 0;
}

.padding-left-right{
  padding-left: 5px;
  padding-right: 5px;
}

.border{
  border: solid 1px #e8e8e8;
}

.border-bottom {
  border-bottom: solid 1px #e8e8e8;
}


.font-light{
  color:white;
}

li > .row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.main {
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
}

.main-wrapper {
	padding-bottom: 60px;
}

.main-navigation {
  width: 100%;
  position: fixed;
  text-align: center;
  bottom: 0;
  padding: 0;
  margin: 0;
  background: #ea4848;
  height: 60px;
}

.main-navigation img {
  opacity: .5;
  max-width: 30px;
  position: relative;
  top: 50%;
  transform: translateY(50%);
  -moz-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -o-transform: translateY(50%);
  -ms-transform: translateY(50%);

}

.main-navigation .icon:focus img{
  opacity: 1;
}

.btn {
  border-radius: 0;
  border: 0;
  padding: 12px;
  font-size: 10px;
}

.btn-default {
  color: white;
  background: #ea4848;
}

.btn-default:hover, .btn-default:focus {
  color:white;
  background: #cb3e3e;
}

.btn-default img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.jumbotron {
  background: #e3e3e3;
  background-size: cover;
  width: 100%;
}

.jumbotron h3 {
  font-weight: 300;
}


.jumbotron-navigation img{
  width: 30px;
  height: 30px;
}

.jumbotron-navigation li {
  height: 50px;
}

.jumbotron-navigation .active{
  transition: none !important;
  background: url('../img/icons/arrow.png') no-repeat bottom center;
}

.jumbotron .logo-wrapper {
  max-height: 220px;
  overflow: hidden;
}

.jumbotron .logo-wrapper img {
  width: 220px;
  height: auto;
  margin: 0 auto;
}

.jumbotron .slogan {
  font-size: 16px;
}

.map{
  background: url('../img/taustad/map_3.png') no-repeat;
  background-size: cover;
}

.ng-scope > .search{
  background: url('../img/taustad/search.jpg') no-repeat;
  background-size: cover;
  color: white;
}

.ng-scope > .search .categories{
  font-size: 18px;
  margin: auto;
  top: 50%
}

.container{
  margin-bottom: 100px;
}

.content-navigation {
  text-transform: uppercase;
}

.content-navigation a {
  color: #a9a9a9;
}

.content-navigation .active a {
  color: #353535;
}


ul li a {
  color: #ea4848;
}

ul li .title {
  font-size: 18px;
}


ul li .extra-info {
  height: 50px;
  overflow: hidden;
  margin-bottom: 10px;
}

.address li{
  margin-bottom: 10px;
}

.address li .icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.ng-animate {
  -webkit-transition: .2s linear all;
  -moz-transition: .2s linear all;
  -ms-transition: .2s linear all;
  -o-transition: .2s linear all;
  transition: .2s linear all;
}

.ng-enter {
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.ng-enter.ng-enter-active {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.ng-leave {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.ng-leave.ng-leave-active {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

/* Home feed */

.home {
  background: #f6f6f6;
}

.home .header-info {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
}

.home .header h3, .home .header p {
	color: #353535;
	margin: 0;
	font-weight: 300;
	text-align: center;
	padding: 5px 0 0 0;
}

.home .header h3 {
	font-size: 3rem;
	color: #ea4848;
}
.home .header p {
	margin-top:10px;
}

/* Feed */

.main .feed {
	margin: 5px 0 0 0;
  padding-bottom: 60px;
}

.feed li {
	border-bottom: 1px solid #e8e8e8;
	position: relative;
	background: #FFF;
	height: 105px;
}

.feed .user-list, .feed .user-text {
	float: left;
	color: #bcbcbc;
	display: inline-block;
}
.feed .user-list li {
	background: none;
	height: auto;
	border: none;
	display: inline-block;
}

.feed .feed-item .itemLogo {
	max-width: 70px;
	margin: 10px 20px;
	border-radius: 50%;
	display: inline-block;
}
.feed .feed-item h3 {
	padding: 0;
	margin: 10px 0 0 0;
	color: #ea4848;
	font-weight: 300;
}
.feed .feed-item .info {
	display: inline-block;
}

.feed .feed-item p {
	font-size: 1.3rem;
	margin: 5px 0 0 0;
}

.feed .feed-item span {
	position: absolute;
	right: 0;
	font-size: 2rem;
	margin: 0 20px;
}

.feed-item a {
  color: #353535;
}

.feed .user-list-item:after {
	content: ',';
	margin-right: 3px;
}
.feed .user-list-item:nth-last-child(2):after {
	content: 'and';
	margin: 0 3px;
}
.feed .user-list-item:last-child:after {
	content: '';
	margin-right: 3px;
}

.feed .feed-item .rating {
	top: 7px;
}
.feed .feed-item .distance {
	top: 35px;
}

.feed p.user-text {
	margin: 0;
	font-size: 16px;
}
.star-rating {
	
}
.star-rating-star {
	height: 30px;
	width: 30px;
	background: url('../img/rating/star1.svg') no-repeat;
}
.glyphicon {
	width: 16px;
	height: 16px;
}
.glyphicon-star:before {
	content: url('../img/rating/star1.svg');
}
.glyphicon-star-empty:before {
	content: url('../img/rating/star1_empty.svg');
}

/* Friends */


.friends-header {
	margin-top: 10px;
	text-align: center;
}
.friends-header li {
	display: inline-block;
	margin: 0 5px;
}
.friends-header img {
	max-width: 30px;
}

.friend-item img {
	max-width: 40px;
	border-radius: 100%;
}

/* Nearest */ 

.nearest-list li {
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}

.nearest-list img {
  max-width: 70px;
  margin: 10px 20px;
  display: inline-block;
}

.nearest-list h3 {
  padding: 0;
  margin: 10px 0 0 0;
  color: #ea4848;
  font-weight: 300;
}

.nearest-list .info {
  display: inline-block;
}

.nearest-list p {
  font-size: 1.3rem;
}

.nearest-list span {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  font-size: 2rem;
  margin: 0 20px;
}

/* Search */

.search h1 {
	font-weight: 100;
	text-transform: uppercase;
}

.searchBox {
	width: 100%;
	height: 50px;
	background: rgba(255,255,255,.6);
	border: none;
	margin: 50px 20px;
}
.search input[type=text]:focus {
	outline: none;
}

img.filter-item {
  width: 30px;
}