<div class="main-wrapper">
<div class="header">
	<div class="header-info">
		<h3>You are in Pärnu!</h3>
		<p>6 friends have been dining here at 4 different places</p>	
	</div>
</div>

<ul class="list-unstyled friends-header" ng-controller="friendsListController">
	<li class="friend-item" ng-repeat="item in friendList">
		<img ng-src="{{item.profile}}" />
	</li>
</ul>

<ul class="list-unstyled feed" ng-controller="feedController">
	<li class="feed-item" ng-repeat="item in feedItems">
		<img class="itemLogo" ng-src="{{item.logo}}" />
		<div class="info">
			<h3>{{item.name}}</h3>
			<p>{{item.desc}}</p>
			<p class="friends">{{item.friends}}</p>
		</div>
			<span class="rating"><img ng-src="{{item.rating}}" /></span>
			<span class="distance">{{item.dst}}</span>
		
	</li>
</ul>

<ul class="list-unstyled suggestions" ng-controller="otherController">
	<li class="feed-item" ng-repeat="item in suggestions">
		<img ng-src="{{item.logo}}" />
		<div class="info">
			<h3>{{item.name}}</h3>
			<p>{{item.desc}}</p>
			<p class="friends">{{item.friends}}</p>
		</div>
		<div class="extra-info">
			<span class="distance">{{item.dst}}</span>
			<span class="rating">{{item.rating}}</span>
		</div>
		
	</li>
</ul>
</div>