<div class="jumbotron map no-margin text-center font-dark">
<h3>You are in Pärnu!</h3>

<p class="slogan">6 friends have been dining here at 4 different places</p>
</div>

<ul class="list-unstyled friends-header no-margin padding-top-bottom border-bottom bck-white"
    ng-controller="friendsListController">
  <li class="friend-item" ng-repeat="item in friendList">
    <img ng-src="{{item.profile}}"/>
  </li>
</ul>

<ul class="list-unstyled bck-white" ng-controller="feedController">
  <li class="border-bottom padding-top-bottom padding-left-right font-sm" ng-repeat="item in feedItems">
    <div class="row">
      <div class="col-xs-2"><img class="img-responsive img-circle border" ng-src="{{item.logo}}"/></div>
      <div class="col-xs-10">
        <div class="col-xs-12">
          <h5 class="no-margin">{{item.name}}</h5>
        </div>

        <div class="col-xs-10">
          <div>{{item.desc}}</div>
          <div><img ng-src="{{item.rating}}"/></div>
        </div>
        <div class="col-xs-2 font-md">{{item.dst}}</div>
      </div>
    </div>
  </li>
</ul>
