<div class="jumbotron no-margin text-center margin-bottom">
  <div class="row logo-wrapper text-center">
    <img src="img/resto-demo/resto-logo.png" alt="resto-demo-logo">
  </div>
  <p class="slogan">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>

  <div class="row margin-bottom">
    <div class="btn btn-default">
      <img src="img/icons/favourite_50x50.png" alt="">
      Add to favorites
    </div>
    <div class="btn btn-default">
      <img src="img/icons/favourite_50x50.png" alt="">
      Add review
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-unstyled">
        <li class="col-xs-3 icons">1</li>
        <li class="col-xs-3 icons">2</li>
        <li class="col-xs-3 icons">3</li>
        <li class="col-xs-3 icons">4</li>
      </ul>
    </div>
  </div>
</div>

<div class="container restaurant-menu">
  <div class="row content-navigation">
    <ul class="list-unstyled list-inline text-center">
      <li class="active">
        <a href="#">Main courses</a>
      </li>
      <li>
        <a href="#">
          appetisers
        </a>
      </li>
      <li>
        <a href="#">
          soups
        </a>
      </li>
    </ul>
  </div>
  <div class="row menu">
    <ul class="list-unstyled">
      <li class="menu-item border-bottom">
        <div class="row">
          <div class="col-xs-3 logo"><img src="img/resto-demo/big-logo-test.jpg" alt="resto-demo-logo"></div>
          <div class="col-xs-9 info">
            <div class="title">
              <span class="col-xs-9">Seljanka</span>
              <span class="col-xs-3">12.99€</span>
            </div>
            <div class="col-xs-12 extra-info">
              Nulla in velit ultricies, laoreet lorem non, imperdiet sapien. Aenean sed sapien metus. Interdum et
              malesuada fames ac ante ipsum primis in faucibus.
            </div>
            <div class="text-right">
              <a href="#">More info ></a>
            </div>
          </div>
        </div>
      </li>
      <li class="menu-item border-bottom">
        <div class="row">
          <div class="col-xs-3 logo"><img src="img/resto-demo/big-logo-test.jpg" alt="resto-demo-logo"></div>
          <div class="col-xs-9 info">
            <div class="title">
              <span class="col-xs-9">Seljanka</span>
              <span class="col-xs-3">12.99€</span>
            </div>
            <div class="col-xs-12 extra-info">
              Nulla in velit ultricies, laoreet lorem non, imperdiet sapien. Aenean sed sapien metus. Interdum et
              malesuada fames ac ante ipsum primis in faucibus.
            </div>
            <div class="text-right">
              <a href="#">More info ></a>
            </div>
          </div>
        </div>
      </li>
      <li class="menu-item border-bottom">
        <div class="row">
          <div class="col-xs-3 logo"><img src="img/resto-demo/big-logo-test.jpg" alt="resto-demo-logo"></div>
          <div class="col-xs-9 info">
            <div class="title">
              <span class="col-xs-9">Seljanka</span>
              <span class="col-xs-3">12.99€</span>
            </div>
            <div class="col-xs-12 extra-info">
              Nulla in velit ultricies, laoreet lorem non, imperdiet sapien. Aenean sed sapien metus. Interdum et
              malesuada fames ac ante ipsum primis in faucibus.
            </div>
            <div class="text-right">
              <a href="#">More info ></a>
            </div>
          </div>
        </div>
      </li>
      <li class="menu-item border-bottom">
        <div class="row">
          <div class="col-xs-3 logo"><img src="img/resto-demo/big-logo-test.jpg" alt="resto-demo-logo"></div>
          <div class="col-xs-9 info">
            <div class="title">
              <span class="col-xs-9">Seljanka</span>
              <span class="col-xs-3">12.99€</span>
            </div>
            <div class="col-xs-12 extra-info">
              Nulla in velit ultricies, laoreet lorem non, imperdiet sapien. Aenean sed sapien metus. Interdum et
              malesuada fames ac ante ipsum primis in faucibus.
            </div>
            <div class="text-right">
              <a href="#">More info ></a>
            </div>
          </div>
        </div>
      </li>
      <li class="menu-item border-bottom">
        <div class="row">
          <div class="col-xs-3 logo text-center"><img src="img/resto-demo/big-logo-test.jpg" alt="resto-demo-logo" class="img-responsive"></div>
          <div class="col-xs-9 info">
            <div class="title">
              <span class="col-xs-9">Seljanka</span>
              <span class="col-xs-3">12.99€</span>
            </div>
            <div class="col-xs-12 extra-info">
              Nulla in velit ultricies, laoreet lorem non, imperdiet sapien. Aenean sed sapien metus. Interdum et
              malesuada fames ac ante ipsum primis in faucibus.
            </div>
            <div class="text-right">
              <a href="#">More info ></a>
            </div>
          </div>
        </div>
      </li>
      <li class="menu-item border-bottom">
        <div class="row">
          <div class="col-xs-3 logo"><img src="img/resto-demo/big-logo-test.jpg" alt="resto-demo-logo"></div>
          <div class="col-xs-9 info">
            <div class="title">
              <span class="col-xs-9">Seljanka</span>
              <span class="col-xs-3">12.99€</span>
            </div>
            <div class="col-xs-12 extra-info">
              Nulla in velit ultricies, laoreet lorem non, imperdiet sapien. Aenean sed sapien metus. Interdum et
              malesuada fames ac ante ipsum primis in faucibus.
            </div>
            <div class="text-right">
              <a href="#">More info ></a>
            </div>
          </div>
        </div>
      </li>
      <li class="menu-item border-bottom">
        <div class="row">
          <div class="col-xs-3 logo"><img src="img/resto-demo/big-logo-test.jpg" alt="resto-demo-logo"></div>
          <div class="col-xs-9 info">
            <div class="title">
              <span class="col-xs-9">Seljanka</span>
              <span class="col-xs-3">12.99€</span>
            </div>
            <div class="col-xs-12 extra-info">
              Nulla in velit ultricies, laoreet lorem non, imperdiet sapien. Aenean sed sapien metus. Interdum et
              malesuada fames ac ante ipsum primis in faucibus.
            </div>
            <div class="text-right">
              <a href="#">More info ></a>
            </div>
          </div>
        </div>
      </li>
      <li class="menu-item border-bottom">
        <div class="row">
          <div class="col-xs-3 logo"><img src="img/resto-demo/big-logo-test.jpg" alt="resto-demo-logo"></div>
          <div class="col-xs-9 info">
            <div class="title">
              <span class="col-xs-9">Seljanka</span>
              <span class="col-xs-3">12.99€</span>
            </div>
            <div class="col-xs-12 extra-info">
              Nulla in velit ultricies, laoreet lorem non, imperdiet sapien. Aenean sed sapien metus. Interdum et
              malesuada fames ac ante ipsum primis in faucibus.
            </div>
            <div class="text-right">
              <a href="#">More info ></a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
