<div class="jumbotron no-margin text-center margin-bottom no-padding-bottom">
  <div class="row logo-wrapper text-center">
    <img src="img/resto-demo/resto-logo.png" alt="resto-demo-logo">
  </div>
  <h3>Cafe Lion</h3>

  <p class="slogan">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>

  <div class="row margin-bottom">
    <div class="btn btn-default">
      <img src="img/icons/favourite_50x50.png" alt="">
      Add to favorites
    </div>
    <div class="btn btn-default">
      <img src="img/icons/favourite_50x50.png" alt="">
      Add review
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-unstyled jumbotron-navigation">
        <li class="col-xs-3 icons"><img src="img/icons/menyy.png" alt=""></li>
        <li class="col-xs-3 icons"><img src="img/icons/joogikaart.png" alt=""></li>
        <li class="col-xs-3 icons"><img src="img/icons/review.png" alt=""></li>
        <li class="col-xs-3 icons active"><img src="img/icons/info.png" alt=""></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">

  <div class="row border-bottom">
    <div class="col-xs-12">
      <h5>Contacts</h5>
      <ul class="list-unstyled address">
        <li><img src="img/icons/icon_address.png" alt="" class="icon">Kalamaja 123, Tallinn</li>
        <li><img src="img/icons/phone.png" alt="" class="icon">00 372 56 123 543</li>
        <li><img src="img/icons/aadress.png" alt="" class="icon">info@cafelion.ee</li>
      </ul>
    </div>
  </div>

  <div class="row border-bottom">
    <div class="col-xs-12">
      <h5>Opening times</h5>
      <ul class="list-unstyled">
        <li><b>Sunday - Tuesday: </b>10:00 - 22:00</li>
        <li><b>Wendesday - Thursday: </b>10:00 - 22:00</li>
        <li><b>Friday - Saturday: </b>10:00 - 22:00</li>
      </ul>
    </div>
  </div>

  <div class="row border-bottom">
    <div class="col-xs-12">
      <h5>Description</h5>
      <p>Vivamus sit amet dapibus leo, sed accumsan mauris. Curabitur faucibus mollis dolor, et sollicitudin tortor efficitur in. Duis vel dolor quis sem fringilla cursus id ut dolor. Quisque sagittis est vel nisi pharetra, vitae pharetra felis feugiat. Fusce a libero vel mi fringilla dignissim.</p>
    </div>
  </div>

</div>
