<div class="jumbotron no-margin text-center margin-bottom no-padding-bottom font-light"
     style="background: url('img/resto-demo/resto-cover-shadowed.jpg')">
  <div class="row logo-wrapper text-center">
    <img class="resto-logo" src="img/logos/lyon_logo_pruun.svg" alt="resto-demo-logo">
  </div>
  <h2>Cafe Lyon</h2>

  <p class="slogan">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>

  <div class="row margin-bottom">
    <div class="btn btn-default">
      <img src="img/icons/favourite_50x50.png" alt="">
      Add to favorites
    </div>
    <div class="btn btn-default">
      <img src="img/icons/arvustus.png" alt="">
      Add review
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-unstyled jumbotron-navigation penis" ng-init="tab = 1">
        <li class="col-xs-3 icons" ng-class="{active:tab===1}" ng-click="tab = 1"><img src="img/icons/menyy.png" alt="">
        </li>
        <li class="col-xs-3 icons" ng-class="{active:tab===2}" ng-click="tab = 2"><img src="img/icons/joogikaart.png"
                                                                                       alt=""></li>
        <li class="col-xs-3 icons" ng-class="{active:tab===3}" ng-click="tab = 3"><img src="img/icons/review.png"
                                                                                       alt=""></li>
        <li class="col-xs-3 icons" ng-class="{active:tab===4}" ng-click="tab = 4"><img src="img/icons/info.png" alt="">
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="tab-menu" ng-show="tab === 1">

  <ul class="list-unstyled bck-white" ng-controller="foodControllerCourses">
    <li class="border-bottom padding-top-bottom padding-left-right font-sm" ng-repeat="item in feedItems">
      <div class="row">
        <div class="col-xs-2"><img class="img-responsive border" ng-src="{{item.image}}"/></div>
        <div class="col-xs-10 fff">
          <div class="col-xs-12">
            <h5 class="no-margin">{{item.name}}</h5>
          </div>

          <div class="col-xs-10">
            <p>{{item.desc}}</p>
          </div>

          <div class="col-xs-2 font-md text-right">
            <p class="price">{{item.price}}€</p>
          </div>

          <div class="col-xs-12 text-right"><a href="#">More info ></a></div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div ng-show="tab === 2">
  <ul class="list-unstyled bck-white" ng-controller="drinkController">
    <li class="border-bottom padding-top-bottom padding-left-right font-sm" ng-repeat="item in feedItems">
      <div class="row">
        <div class="col-xs-2"><img class="img-responsive border" ng-src="{{item.image}}"/></div>
        <div class="col-xs-10">
          <div class="col-xs-10">
            <h5 class="no-margin">{{item.name}}</h5>
          </div>

          <div class="col-xs-2 font-md">
            {{item.price}}€
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div ng-show="tab === 3">
  <ul class="list-unstyled bck-white" ng-controller="reviewsController">
    <li class="border-bottom padding-top-bottom padding-left-right font-sm" ng-repeat="item in reviewItems">
      <div class="row">
        <div class="col-xs-2"><img class="img-responsive" ng-src="{{item.profile}}"/></div>
        <div class="col-xs-10">
          <h5 class="no-margin margin-bottom-divided-2">{{item.name}}</h5>
          <p>{{item.review}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="info-tab" ng-show="tab === 4">

  <div class="col-xs-12 border-bottom">
    <h5>Contacts</h5>
    <ul class="list-unstyled address">
      <li><img src="img/icons/icon_address.png" alt="" class="icon">Kalamaja 123, Tallinn</li>
      <li><img src="img/icons/phone.png" alt="" class="icon">00 372 56 123 543</li>
      <li><img src="img/icons/aadress.png" alt="" class="icon">info@cafelyon.ee</li>
    </ul>
  </div>


  <div class="col-xs-12 border-bottom">
    <h4>Opening times</h4>
    <ul class="list-unstyled">
      <li>Sunday - Tuesday: 10:00 - 22:00</li>
      <li>Wendesday - Thursday: 10:00 - 22:00</li>
      <li>Friday - Saturday: 10:00 - 22:00</li>
    </ul>
  </div>


  <div class="col-xs-12 border-bottom" style="margin-bottom: 60px;">
    <h4>Description</h4>

    <p class="font-md">Vivamus sit amet dapibus leo, sed accumsan mauris. Curabitur faucibus mollis dolor, et
      sollicitudin tortor efficitur in. Duis vel dolor quis sem fringilla cursus id ut dolor. Quisque sagittis est vel
      nisi pharetra, vitae pharetra felis feugiat. Fusce a libero vel mi fringilla dignissim.</p>
  </div>

</div>
