<div class="jumbotron no-margin text-center margin-bottom">
  <div class="row logo-wrapper text-center">
    <img src="img/resto-demo/resto-logo.png" alt="resto-demo-logo">
  </div>
  <p class="slogan">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>

  <div class="row margin-bottom">
    <div class="btn btn-default">
      <img src="img/icons/favourite_50x50.png" alt="">
      Add to favorites
    </div>
    <div class="btn btn-default">
      <img src="img/icons/favourite_50x50.png" alt="">
      Add review
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-unstyled">
        <li class="col-xs-3 icons">1</li>
        <li class="col-xs-3 icons">2</li>
        <li class="col-xs-3 icons">3</li>
        <li class="col-xs-3 icons">4</li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <ul class="list-unstyled list-inline text-center content-navigation">
    <li class="active">
      <a href="#">Main courses</a>
    </li>
    <li>
      <a href="#">
      appetisers
    </a>
    </li>
    <li>
      <a href="#">
      soups
    </a>
    </li>
  </ul>
</div>
