<div class="filtering">
  <h1>Search</h1>

  <div class="searchArea">
  	<input type="text" class="searchBox" />
  	<input type="submit" value="" />
  </div>

  <h3>Refine your search</h3>

  <div class="row filter-items">
  	<div class="col-xs-3">
  	<div class="poop">
  		<img class="filter-item" src="img/kategooriad/wifi.png" />
  		<h4>WiFi</h4>
  		</div>
  	</div>
  	<div class="col-xs-3">
  	<div class="poop">
  		<img class="filter-item" src="img/kategooriad/terrass.png" />
  		<h4>Terrace</h4>
  		</div>
  	</div>
  	<div class="col-xs-3">
  	<div class="poop">
  		<img class="filter-item" src="img/kategooriad/Mangunurk.png" />
  		<h4>Playground</h4>
  		</div>
  	</div>
  	<div class="col-xs-3">
  	<div class="poop">
  		<img class="filter-item" src="img/kategooriad/parking.png" />
  		<h4>Parking</h4>
  		</div>
  	</div>
  </div>

  <div class="row filter-items">
  	<div class="col-xs-3">
  	<div class="poop">
  		<img class="filter-item" src="img/kategooriad/spordibaar.png" />
  		<h4>Sportsbar</h4>
  		</div>
  	</div>
  	<div class="col-xs-3">
  	<div class="poop">
  		<img class="filter-item" src="img/kategooriad/vegan.png" />
  		<h4>Vegan</h4>
  		</div>
  	</div>
  	<div class="col-xs-3">
  	<div class="poop">
  		<img class="filter-item" src="img/kategooriad/gluten-free.png" />
  		<h4>Gluten Free</h4>
  		</div>
  	</div>
  	<div class="col-xs-3">
  	<div class="poop">
  		<img class="filter-item" src="img/kategooriad/muusika.png" />
  		<h4>Live Music</h4>
  		</div>
  	</div>
  </div>

  <div class="row filter-items">
  	<div class="col-xs-3">
  	<div class="poop">
  		<img class="filter-item" src="img/kategooriad/allergia.png" />
  		<h4>Allergies</h4>
  		</div>
  	</div>
  	<div class="col-xs-3">
  	<div class="poop">
  		<img class="filter-item" src="img/kategooriad/smoking.png" />
  		<h4>Smoking Area</h4>
  		</div>
  	</div>
  	<div class="col-xs-3">
  	<div class="poop">
  		<img class="filter-item" src="img/kategooriad/dancingarea.png" />
  		<h4>Dancing Area</h4>
  		</div>
  	</div>
  	<div class="col-xs-3">
  	<div class="poop">
  		<img class="filter-item" src="img/kategooriad/24h.png" />
  		<h4>Open 24/7</h4>
  		</div>
  	</div>
  </div>

  <div class="row filter-items">
  	<div class="col-xs-3">
  		<div class="poop">
	  		<img class="filter-item" src="img/kategooriad/wheelchair.png" />
	  		<h4>Wheelchair</h4>
  		</div>
  	</div>
  	<div class="col-xs-3">

  	</div>
  	<div class="col-xs-3">

  	</div>
  	<div class="col-xs-3">

  	</div>
  </div>

</div>

<script>
  $(document).ready(function() {

    $('.poop').click(function() {
    	if ( $(this).hasClass('filter-on') ) {
    		$(this).removeClass('filter-on');
    	}
    	else {
    		$(this).addClass('filter-on');
    	}
    	
    });
    
  });
</script>